//  used to clearfix containers with floated elements
//
//  example:
//
//  .box {
//    @include clearfix;
//  }
//
//
//  clearfix

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}