//  used for making text disappear
//
//  example:
//
//  .box {
//    @include text-hide;
//  }
//
//
//  text-hide

@mixin text-hide {
  white-space: nowrap;
  overflow: hidden;
  text-indent: 199%;
}