//  Used to center text vertically and horizontally within a container
//
//
//  example:
//
//  .banner-content {
//    @include text-center
//  }
//
//
//  Text Center

@mixin text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}