//  Default borders

$default-border-width: 2px
$border: none

//  Navigation

$nav-border-width: 0
$nav-border: $border
$nav-logo-border: $border
$nav-menu-border: $border
$nav-link-border: $border
$nav-link-hover-border: $border
$nav-link-active-border: $border

$nav-light-border: $border
$nav-light-logo-border: $border
$nav-light-menu-border: $border
$nav-light-link-border: $border
$nav-light-link-hover-border: $border
$nav-light-link-active-border: $border

$nav-dark-border: $border
$nav-dark-logo-border: $border
$nav-dark-menu-border: $border
$nav-dark-link-border: $border
$nav-dark-link-hover-border: $border
$nav-dark-link-active-border: $border