//  Color Scheme

$primary-color: #d64d13
$dark-primary-color: #c44711
$light-color: #ffffff
$divider-color: #b6b6b6
$accent-color: #33658a
$border-color: #212121
$background-color: #ffffff
$background-secondary-color: #b6b6b6

//  Body

$body-background: $background-color
$body-background-secondary: $background-secondary-color

//  Typography

$primary-text-color: #212121
$secondary-text-color: #727272
$light-text-color: $light-color
$hr-color: $secondary-text-color
$hr-secondary-color: $accent-color

//  Box

$box-background-color: $light-color
$box-border-color: $border-color
$box-header-color: $primary-text-color
$box-body-color: $secondary-text-color
$box-icon-color: $accent-color

//  Navigation

$nav-text: $accent-color
$nav-bg: $light-color
$nav-link: $accent-color
$nav-link-bg: $light-color
$nav-link-hover: $primary-color
$nav-link-hover-bg: $light-color
$nav-link-active: $primary-color
$nav-link-active-bg: $light-color

$nav-light-text: $primary-color
$nav-light-bg: $light-color
$nav-light-link: $primary-color
$nav-light-link-bg: $light-color
$nav-light-link-hover: $accent-color
$nav-light-link-hover-bg: $light-color
$nav-light-link-active: $accent-color
$nav-light-link-active-bg: $light-color

$nav-dark-text: $light-color
$nav-dark-bg: $primary-color
$nav-dark-link: $light-color
$nav-dark-link-bg: $primary-color
$nav-dark-link-hover: $primary-color
$nav-dark-link-hover-bg: $light-color
$nav-dark-link-active: $primary-color
$nav-dark-link-active-bg: $light-color

//  Banner

$banner-background-color: $accent-color
$banner-text-color: $light-color

//  Footer

$footer-bg: $light-color
$footer-text: $accent-color
$footer-dark-bg: $primary-color
$footer-dark-text: $light-color

//  Form

$input-background: $light-color

//  Button